<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    backupGlobals="false" 
    backupStaticProperties="false" 
    bootstrap="./tests/phpunit/phpunit.php" 
    cacheDirectory=".phpunit.cache" 
    colors="true" 
    displayDetailsOnTestsThatTriggerDeprecations="true" 
    displayDetailsOnTestsThatTriggerErrors="true" 
    displayDetailsOnTestsThatTriggerNotices="true" 
    displayDetailsOnTestsThatTriggerWarnings="true" 
    processIsolation="false" 
    stopOnFailure="false" 
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd">
    <php>
        <ini name="memory_limit" value="512M"/>
    </php>
    <testsuites>
        <testsuite name="tests/phpunit">
            <directory suffix="Test.php">./tests/phpunit/PHP84</directory>
        </testsuite>
    </testsuites>
</phpunit>
